<!DOCTYPE html>
{% extends "base.jinja" %}
{% block content %}
    <div class="columns is-mobile">
          <div class="column is-one-third is-offset-one-third">
            <div class="message">
              <div class="message-header errorHeader">
                  <p class="is-centered">Error!
                </p>
              </div>
              <div class="message-body">
                    <h1 class="is-1">Sorry, there was an error in your request.</h1>
                </div>
              </div>
            </div>
    </div>


{% endblock %}
